*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #cfe2eb;
}

.clocks {
  width: 700px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.clock-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}
.digit-time {
  font-size: 24px;
  margin-top: 20px;
}
.left-clock, .right-clock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.clock{
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(./img/clock.png),
  radial-gradient(circle, rgb(37, 73, 90) 0%, rgb(25, 48, 60) 11%, rgba(9,25,33,1) 38%);
  background-size: cover;
  border-radius: 50%;
  box-shadow: 0 -5px 15px rgba(31, 31, 31, 0.35),
  inset 0 -5px 15px #191919,
  0 5px 15px rgba(31, 31, 31, 0.35),
  inset 0 5px 15px #191919
  ;
}

.clock:before{
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #ffffff;
  border-radius: 50%;
  z-index: 999;
}

.clock .hour,
.clock .min,
.clock .sec{
  position: absolute;
}

.clock .hour, .hr{
  width: 160px;
  height: 74px;
}
.clock .min, .mn{
  width: 190px;
  height: 134px;
}
.clock .sec, .sc{
  width: 230px;
  height: 143px;
}

.hr, .mn, .sc{
  display: flex;
  justify-content: center;
  position: absolute;
  border-radius: 50%;
}

.hr:before{
  content: '';
    position: absolute;
    width: 5px;
    height: 30px;
    background-color: #ffc600;
    z-index: 10;
    border-radius: 6px 6px 0 0;
}
.mn:before{
  content: '';
    position: absolute;
    width: 4px;
    height: 60px;
    background-color: #fff;
    z-index: 11;
    border-radius: 6px 6px 0 0;
}
.sc:before{
    content: '';
    position: absolute;
    width: 2px;
    height: 94px;
    background-color: #fff;
    z-index: 12;
    border-radius: 6px 6px 0 0;
}

.utc-select {
  min-height: 30px;
  min-width: 255px;
  border-radius: 5px;
  font-size: 21px;
  padding-left: 10px;
  border: none;
  margin: 10px 0;
  -webkit-appearance: none;
  appearance: none;
  transition: all 0.2s;
  outline: none;

}

.utc-select:hover {
  cursor: pointer;
  box-shadow: 0 0 10px rgb(62, 110, 136);
  transition: all 0.2s;
}

